.foot1{
    background-color:  #ffc451;
    padding: 30px 0px;

}
    .footmenu1{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
.socila{

 fill: aliceblue;
 fill: #333434;
 display: flex;
}
.socila svg{
    width: 37px;
    height: 37px;
    margin: 0px 11px;
    background: #25252f;
    padding: 5px;
    border-radius: 50%;
    fill: #ffc451;
    padding: 9px;
}
.foot1 ul{
display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
font-weight: 600;
}
.foot1 ul li{
margin-right: 50px;
    color: #25252f;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.copyright2{
font-size: 13px;
width: 100%;
float: left;
text-transform: capitalize;
letter-spacing: 1px;
margin-top: 20px;
text-align:center;
}
@media (max-width: 700px){

.foot1 ul li{
margin-right: 30px;
}
.foot1 ul li:last-child{
    margin: 0px;
}
}