.popularPeopleHeadings{
    padding: 30px 0 10px 0;
}
.big-col1 img{
height: 230px;
}
.popularPeopleDescription{
    font-style: italic;
    color: #acacac;
    font-size: 18px;
}
.jktgh2{
    margin-top: 50px;
    margin-bottom: 150px;
    position: sticky;
top: 250px;
}

.hk3 button{

background-color: #ffc451;
    border-color: #ffc451;
    font-weight: 600;
    padding: 10px 29px;
}
.hk3 button:hover{
color: #ffc451;
background-color: transparent;
}
.jktgh2 h4:after{
content: "";
display: block;
width: 10%;
margin: 20px 0;
background: #ffc451;
height: 4px;
}
.jktgh2 h4{
font-size: 34px;
width: 100%;
color: #ddd;
font-weight: 600;
}
@media (max-width: 700px){
    .popularPeopleDescription{
        font-size: 14px;
}
.jktgh2 h4{
    font-size: 24px;
}
.hk3 button{
padding: 5px 20px;
font-size: 13px;
}
}